@charset "utf-8";

.css-1pz7bly-toastContainer { padding: 0px; display: flex; flex-direction: column; gap: 10px; }

.css-1pz7bly-toastContainer .Toastify__toast { -webkit-box-align: center; align-items: center; margin: 0px; border-radius: 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 3px; gap: 20px; cursor: pointer; color: rgb(0, 16, 41) !important; }

.css-1pz7bly-toastContainer .Toastify__toast-body { padding: 0px; display: flex; flex-direction: row; -webkit-box-align: center; align-items: center; gap: 10px; white-space: normal; word-break: break-word; }

.css-1pz7bly-toastContainer .Toastify__toast-body div:last-child { color: rgb(0, 16, 41) !important; }

.css-1pz7bly-toastContainer .Toastify__close-button { color: rgb(0, 16, 41) !important; }

.css-1pz7bly-toastContainer .Toastify__toast--info .Toastify__toast-icon svg { fill: rgb(105, 177, 255) !important; }

.css-1pz7bly-toastContainer .Toastify__toast--success .Toastify__toast-icon svg { fill: rgb(149, 222, 100) !important; }

.css-1pz7bly-toastContainer .Toastify__toast--warning .Toastify__toast-icon svg { fill: rgb(255, 197, 61) !important; }

.css-1pz7bly-toastContainer .Toastify__toast--error .Toastify__toast-icon svg { fill: rgb(255, 120, 117) !important; }

.css-8jh79q-wrapper { display: flex; width: 100%; height: 100vh; background: linear-gradient(112.25deg, rgb(51, 29, 0) 10%, rgb(38, 46, 28) 45%, rgb(43, 43, 52) 100%); }

.css-114vwzc-rightPanel { position: relative; width: 50%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.css-1dnqf3l-formWrapper { width: 400px; display: flex; flex-direction: column; gap: 20px; }

.css-x3678i-flexContainer { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 20px; }

.css-194r6qf-title { font-size: 24px; line-height: 24px; font-weight: 500; color: rgb(76, 161, 222); }

.css-3kqcy0-versionContainer { position: absolute; bottom: 30px; right: 30px; }

.css-yhx4ry-themeSelector { padding: 4px; color: rgb(76, 161, 222); }

.css-rpk2gd-wrapper { position: relative; display: flex; flex-direction: column; user-select: none; touch-action: none; overflow: hidden; border-radius: 16px; background: rgb(33, 33, 43); pointer-events: auto; max-height: 100vh; max-width: 100vw; }

.css-rpk2gd-wrapper .ant-modal-content { padding: 10px; flex: 1 1 0%; min-height: 0px; user-select: text; touch-action: auto; position: relative; background: rgb(33, 33, 43); pointer-events: auto; overflow: hidden; display: flex; flex-direction: column; gap: 5px; }

.css-rpk2gd-wrapper .ant-modal-header { margin: 0px; background: rgb(33, 33, 43); }

.css-rpk2gd-wrapper .ant-modal-body { overflow: hidden; flex: 1 1 0%; min-height: 0px; }

.css-rpk2gd-wrapper .ant-modal-close { top: 10px; color: rgb(225, 225, 225); }

.css-7mxjvm-header { cursor: move; min-height: 32px; align-content: center; }

.css-1hsuz64-extraButton { position: absolute; top: 10px; right: 80px; display: flex; border-radius: 8px; padding: 0px 8px; color: rgb(225, 225, 225); }

.css-o6dr0w-fullscreenButton { position: absolute; top: 10px; right: 46px; display: flex; border-radius: 8px; padding: 0px 8px; color: rgb(225, 225, 225); }

.css-5nj1vf-saveButton { position: absolute; top: 10px; right: 114px; display: flex; border-radius: 8px; padding: 0px 8px; color: rgb(76, 161, 222); }

.css-8icpx-leftPanel { width: 50%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; flex-direction: column; gap: 40px; }

.css-174qt60-logo { color: rgb(255, 255, 255); width: 250px !important; height: 84px !important; }

.css-174qt60-logo path:first-of-type { fill: rgb(76, 161, 222); }

.css-yfcal5-main { margin-bottom: 200px; display: flex; flex-direction: column; gap: 10px; font-weight: 500; text-align: center; }

.css-1927tz1-title { font-size: 40px; line-height: 48px; }

.css-1j7vi7t-subtitle { font-size: 24px; line-height: 32px; }

.css-1k3dqfo-wrapper { width: 28px; height: 28px; padding: 0px; }

.css-d9m8pl-wrapper { display: flex; }

.css-6mqnfq-button { border-radius: 16px; }

.css-6mqnfq-button.ant-btn-default { box-shadow: none; }

.css-6mqnfq-button span:not(.ant-btn-icon) { overflow: hidden; text-overflow: ellipsis; }

.css-11ol6vn-dropdown > ul { padding: 0px !important; border-radius: 8px !important; }

.css-11ol6vn-dropdown > ul li { padding: 8px !important; }

.css-11ol6vn-dropdown > ul li span { height: 16px !important; }

.css-71j5au-dropdownButton { width: 100%; }

.css-71j5au-dropdownButton button:nth-of-type(1) { width: 100%; }

.css-71j5au-dropdownButton .ant-btn { display: flex; gap: 5px; border-radius: 16px; }

.css-71j5au-dropdownButton .ant-btn span { overflow: hidden; text-overflow: ellipsis; }

.css-6j38h5-iconButton { flex-shrink: 0; }

.css-6j38h5-iconButton span { display: flex; -webkit-box-align: center; align-items: center; }

.css-h084tv-popconfirm { max-width: 360px; min-width: 100px; }

.css-1g05xj2-button-wrapper { border-radius: 16px; width: 28px; height: 28px; padding: 0px; }

.css-1g05xj2-button-wrapper.ant-btn-default { box-shadow: none; }

.css-1g05xj2-button-wrapper span:not(.ant-btn-icon) { overflow: hidden; text-overflow: ellipsis; }

.css-oux221-label { text-transform: capitalize; }

.css-v6kmt0-flag { width: 24px; height: 24px; flex-shrink: 0; cursor: pointer; }

.css-gd3t52-form { height: 100%; display: flex; flex-direction: column; gap: 20px; }

.css-v3wks0-buttons { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 20px; }

.css-17d0dt1-link { padding: 0px; font-size: 14px; line-height: 19px; color: rgb(76, 161, 222); }

.css-t238ea-editUser { margin-top: auto; }

.css-ilen1r-wrapper { display: flex; flex-direction: column; gap: 5px; }

.css-x6d153-cell { padding: 5px 0px; }

.css-i2snd7-row { -webkit-box-align: center; align-items: center; flex-direction: row; }

.css-329gto-fullWidth { width: 100%; }

.css-1xi0cer-input { width: 100%; }

.css-1xi0cer-input input:-webkit-autofill, .css-1xi0cer-input input:-webkit-autofill:hover, .css-1xi0cer-input input:-webkit-autofill:focus, .css-1xi0cer-input input:-webkit-autofill:active { transition: background-color 5000s ease-in-out; box-shadow: transparent 0px 0px 0px 1000px inset !important; -webkit-text-fill-color: rgb(255, 255, 255) !important; background-clip: content-box !important; }

.css-1bfvrf7-label { font-size: 12px; line-height: 16px; font-weight: 500; }

.css-mes8l1-button-link { border-radius: 16px; padding: 0px; font-size: 14px; line-height: 19px; color: rgb(76, 161, 222); }

.css-mes8l1-button-link.ant-btn-default { box-shadow: none; }

.css-mes8l1-button-link span:not(.ant-btn-icon) { overflow: hidden; text-overflow: ellipsis; }

.css-1dw39fh-wrapper { height: 100vh; width: 100%; overflow: hidden; }

.css-1pue5hd-content { position: relative; transition: 0.5s; padding: 10px 10px 10px 15px; display: flex; flex-direction: column; gap: 10px; background: rgb(33, 33, 43); overflow-y: auto; }

.css-1pue5hd-content::-webkit-scrollbar { display: none !important; }

.css-oefm5x-toastContainer { background: rgb(43, 43, 52) !important; }

.css-oefm5x-toastContainer button svg { color: rgb(255, 255, 255); }

.css-h4n9qw-wrapper { width: 80px; position: relative; }

.css-1y377u6-sider { position: absolute; z-index: 7; height: 100%; transition: 0.2s ease-out; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 3px; background: rgb(43, 43, 52); }

.css-1y377u6-sider .ant-layout-sider-children { display: flex; flex-direction: column; }

.css-12pt44p-logo { height: 50px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.css-1v4qb4s-menu { flex: 1 1 0%; overflow-y: auto; transition: 0.2s ease-out; }

.css-1v4qb4s-menu .ant-menu-item { display: flex; -webkit-box-align: center; align-items: center; padding: 0px 0px 0px 24px !important; }

.css-1v4qb4s-menu .ant-menu-item-icon { height: 18px !important; min-width: 18px !important; }

.css-1v4qb4s-menu .ant-menu-submenu-title { display: flex; -webkit-box-align: center; align-items: center; padding: 0px 0px 0px 24px !important; }

.css-1v4qb4s-menu .ant-menu-title-content { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 5px; padding-right: 6px !important; }

.css-1v4qb4s-menu .ant-menu-submenu-arrow { position: static; width: 24px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.css-1v4qb4s-menu .ant-menu-item-extra { margin: 0px 0px 0px auto !important; padding: 0px !important; }

.css-1yo9yi1-version { padding: 4px 6px; font-size: 12px; -webkit-box-pack: center; justify-content: center; }

.css-8j5dmh-mainBadgePoint { font-size: 0px !important; line-height: 0 !important; height: 10px !important; min-width: 10px !important; padding: 0px !important; }

.css-key5j8-mainBadgeText { line-height: 14px !important; padding: 0px 5px !important; }

.css-12dtsov-subBadge { margin-right: 5px !important; }

.css-w4kiyl-header { padding: 0px 20px 0px 15px; height: 50px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 20px; line-height: inherit; background: rgb(43, 43, 52); transition: 0.5s; }

.css-1n3chav-flexRow { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 20px; }

.css-1xlj9jx-firstItem { color: rgb(255, 255, 255); font-size: 18px; font-style: normal; font-weight: 500; line-height: 18px; }

.css-z39y1z-otherItem { color: rgba(255, 255, 255, 0.88); font-size: 14px; font-style: normal; line-height: 18px; }

.css-egxl3y-customDropdown .ant-dropdown-menu { background: rgb(31, 31, 31); }

.css-q9tudn-cell { padding: 10px 0px; }

.css-10mtovy-label { font-size: 14px; line-height: 19px; font-weight: 500; }

.css-i6csrn-dropdown .ant-dropdown-menu { background: rgb(33, 33, 43); }

.css-13dthtw-icon { width: 28px; height: 28px; }

.css-xnprnw-tooltipContent { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; gap: 10px; padding: 10px; }

.css-1gqkp4n-text { font-size: 14px; line-height: 22px; font-weight: 500; color: rgb(255, 255, 255); }

.css-8c2l19-iconsWrapper { display: flex; -webkit-box-align: center; align-items: center; gap: 10px; }

.css-1l3agy-iconCircle { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 32px; height: 32px; border-radius: 50%; background-color: rgb(43, 43, 52); border: 1px solid rgba(255, 255, 255, 0.12); }

.css-jagy6w-icon { font-size: 16px; color: rgb(255, 255, 255); }

.css-156kawp-helpIcon { cursor: pointer; font-size: 24px; color: rgb(68, 140, 192); }

.css-1pa1th5-flexContainer { display: flex; -webkit-box-align: center; align-items: center; gap: 5px; cursor: pointer; }

.css-mwq7ri-userContainer { display: flex; align-items: flex-end; flex-direction: column; }

.css-fjjrkw-text { font-size: 14px; line-height: 19px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 160px; }

.css-1pmaue0-dropdown { width: 160px; }

.css-1rj70ed-userInfoWrapper { margin: 5px; padding: 20px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 3px; border-radius: 16px; }

.css-2njluh-userInfoLeftWrapper { display: flex; gap: 25px; }

.css-fhuujz-cardImg { width: 145px; height: 145px; border-radius: 50%; }

.css-wfpvby-buttonWrapper { display: flex; gap: 20px; }

.css-1pqb53g-balanceWrapper { display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; height: 145px; min-width: 700px; }

.css-4c174a-masterUserWrapper { display: flex; -webkit-box-align: center; align-items: center; gap: 20px; }

.css-1m0nxzr-button-version { border-radius: 16px; padding: 4px 6px; font-size: 12px; -webkit-box-pack: center; justify-content: center; }

.css-1m0nxzr-button-version.ant-btn-default { box-shadow: none; }

.css-1m0nxzr-button-version span:not(.ant-btn-icon) { overflow: hidden; text-overflow: ellipsis; }

.css-17jtp3g-wrapper-row { display: flex; gap: 5px; -webkit-box-align: center; align-items: center; flex-direction: row; }

.css-9sd6jz-dropdown-customDropdown .ant-dropdown-menu { background: rgb(33, 33, 43); }

.css-9sd6jz-dropdown-customDropdown .ant-dropdown-menu { background: rgb(31, 31, 31); }

.css-1xc9h10-balanceWrapper { display: flex; align-items: flex-end; }

.css-1m4l2oq-balanceTitle { font-size: 32px; line-height: 40px; }

.css-14d8msl-balanceFreeze { font-size: 32px; line-height: 40px; color: rgb(196, 196, 196); margin-left: 30px; }

.css-3lwf4k-title { font-size: 18px; line-height: 140%; }

.css-1vpmwm4-button-iconButton { border-radius: 16px; flex-shrink: 0; }

.css-1vpmwm4-button-iconButton.ant-btn-default { box-shadow: none; }

.css-1vpmwm4-button-iconButton span:not(.ant-btn-icon) { overflow: hidden; text-overflow: ellipsis; }

.css-1vpmwm4-button-iconButton span { display: flex; -webkit-box-align: center; align-items: center; }

.css-1qy6xjd-option { display: flex; -webkit-box-align: center; align-items: center; gap: 5px; }

.css-5kam6k-image { width: 20px; height: 20px; border-radius: 50%; }

.css-15jlliu-select { width: 150px; }

.css-fpadbx-popup { width: 220px !important; }

.css-wm93h5-downgradeZIndex { z-index: 6 !important; }

.css-1aesmsv-select { width: 225px; overflow: hidden; border-radius: 16px !important; }

.css-1aesmsv-select .ant-select-selection-search-input { height: 100% !important; }

.css-14kpqhe-select-select { overflow: hidden; width: 150px; border-radius: 16px !important; }

.css-14kpqhe-select-select .ant-select-selection-search-input { height: 100% !important; }

.css-1pzbizl-title { font-size: 14px; line-height: 19px; margin-top: 12px; }

.css-jdymbx-fontSizeLarge { width: 45px; height: 44px; }

.css-195epgs-iconWrapper { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; width: 97px; height: 97px; border-radius: 50%; background-color: rgb(33, 33, 43); cursor: pointer; position: relative; }

.css-zwbjgd-badge { position: absolute; top: 2px; right: 5px; height: 28px; min-width: 28px; width: fit-content; padding: 1px 6px; background-color: rgb(76, 161, 222); border-radius: 30px; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; color: rgb(255, 255, 255); font-size: 12px; line-height: 14px; }

.css-1ujhunl-buttonsWrapper { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; gap: 54px; height: 145px; }

.css-2hpyrz-buttonWrapper { display: flex; flex-direction: column; -webkit-box-align: center; align-items: center; text-align: center; }

.css-1yt2d6i-bottomWidgetsWrapper { display: flex; flex-wrap: wrap; padding: 0px 70px; gap: 20px; }

.css-135fdty-gridRow { width: 100%; display: grid; grid-template-columns: 1fr 2fr; gap: 20px; }

.css-1t7cc6b-cardsWrapper { width: 100%; display: flex; flex-direction: column; }

.css-u49zn1-cardListTitle { font-size: 18px; line-height: 27px; color: rgb(255, 255, 255); font-weight: 500; }

.css-1m44v3x-cardListSubTitle { font-size: 14px; line-height: 19px; margin-bottom: 10px; }

.css-as8oln-sectionWrapper { display: grid; grid-template-columns: repeat(2, auto); gap: 20px; }

.css-gkzwjg-wrapper { padding: 20px 70px; }

.css-10swrz6-cardWrapper { width: 100%; background: linear-gradient(157deg, rgb(43, 43, 52) 50%, rgb(0, 26, 21) 50%); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 3px; padding: 20px; margin: 10px 0px; border-radius: 8px; height: 140px; cursor: pointer; display: flex; -webkit-box-pack: end; justify-content: flex-end; flex-direction: column; transition: 0.3s; }

.css-10swrz6-cardWrapper:hover { background: linear-gradient(157deg, rgb(43, 43, 52) 50%, rgb(56, 142, 60) 50%); }

.css-qfidl6-cardErrorWrapper { transition: 0.3s; background: linear-gradient(157deg, rgb(43, 43, 52) 50%, rgb(46, 5, 5) 50%); }

.css-qfidl6-cardErrorWrapper:hover { background: linear-gradient(157deg, rgb(43, 43, 52) 50%, rgb(140, 0, 0) 50%); }

.css-1non7ar-cardSubWrapper { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; }

.css-77fbkg-cardTitle { font-size: 18px; line-height: 25px; color: rgb(255, 255, 255); font-weight: 500; }

.css-177sooz-cardSubTitle { font-size: 14px; line-height: 19px; }

.css-x9d82f-icon { width: 30px; height: 30px; color: rgb(196, 196, 196); }

.css-173yo3h-cardValueTitle { font-weight: 600; font-size: 32px; line-height: 44px; color: rgb(255, 255, 255); }

.css-2jyeyd-wrapper { display: flex; -webkit-box-align: center; align-items: center; gap: 20px; }

.css-1mpxil4-sliderContainer { width: 100%; overflow: hidden; }

.css-biiqct-sliderWrapper { display: flex; -webkit-box-align: center; align-items: center; transition: transform 0.5s ease-in-out; }

.css-q27hy7-slide { flex: 0 0 calc(25% - 20px); width: calc(25% - 20px); }

.css-jm1dwi-button { width: 40px; height: 40px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background: rgb(43, 43, 52); box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 2px; border-radius: 6px; opacity: 1; transition: 0.3s ease-in-out; }

.css-jm1dwi-button:hover { opacity: 0.8; }

.css-jm1dwi-button:disabled { opacity: 0.3; }

.css-c2txcv-icon { color: rgb(76, 161, 222); }

.css-d9947p-wrapper { width: 100%; display: flex; flex-direction: column; }

.css-1swd11h-cardsWrapper { padding: 25px 0px 30px; background-color: rgb(43, 43, 52); box-shadow: rgba(31, 31, 31, 0.6) 0px 2px 11px 2px; border-radius: 8px; }

.css-1j06g2e-cardWrapper { display: flex; -webkit-box-pack: justify; justify-content: space-between; padding: 10px 35px 10px 30px; border-bottom: 1px solid rgb(238, 238, 238); -webkit-box-align: center; align-items: center; cursor: pointer; }

.css-1j06g2e-cardWrapper:hover { background-color: rgb(33, 33, 43); }

.css-1o5ikx0-cardValueWrapper { display: flex; -webkit-box-align: center; align-items: center; gap: 30px; }

.css-1vrgtau-cardValueTitle { font-size: 24px; line-height: 33px; color: rgb(255, 255, 255); font-weight: 600; }

.css-1g716b-cardWrapper { padding: 25px; background: rgb(43, 43, 52); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 3px; border-radius: 10px; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; cursor: pointer; }

.css-16gpq69-imagesWrapper { display: flex; align-items: flex-end; gap: 5px; }

.css-12zverw-cardTitle { text-align: end; width: 140px; }

.css-14uj48s-cardValueTitle { font-weight: 600; font-size: 32px; line-height: 44px; color: rgb(255, 255, 255); text-align: end; }

.css-1mdga9h-textWrapper { display: flex; flex-direction: column; -webkit-box-pack: end; justify-content: end; }

.css-156y3an-cardWrapper { background-color: rgb(43, 43, 52); box-shadow: rgba(31, 31, 31, 0.6) 0px 2px 11px 2px; padding: 25px 20px; border-radius: 8px; display: flex; -webkit-box-align: center; align-items: center; gap: 30px; }

.css-1tbxt28-cardTitleWrapper { display: flex; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center; align-items: center; gap: 20px; }

.css-fof8o8-cardTitle { width: 115px; }

.css-95ynpn-buttonWrapper { display: flex; -webkit-box-pack: center; justify-content: center; }

.css-1rh111j-wrapper { height: 100%; display: flex; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; gap: 10px; }

.css-rgg07p-content { flex: 1 1 0%; overflow: auto; display: flex; gap: 10px; }

.css-osbrvw-empty { flex: 1 1 0%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; flex-direction: column; }

.css-1j33a8x-patchNotes { padding-right: 5px; width: 250px; display: flex; flex-direction: column; gap: 10px; overflow: hidden auto; }

.css-6zy8rh-buttons { flex-shrink: 0; display: flex; -webkit-box-pack: end; justify-content: flex-end; gap: 20px; }

.css-1cscuc8-spin { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.css-1hq5oxn-patchNoteWrapper { width: 100%; height: 100%; display: flex; flex-direction: column; gap: 5px; }

.css-jpv3ks-editorContainer { height: 100%; }

.css-jpv3ks-editorContainer h1 { font-size: 16px; line-height: 22px; font-weight: 500; margin-bottom: 20px; }

.css-jpv3ks-editorContainer h1:not(:first-child) { margin-top: 20px; }

.css-qpxjp1-wrapper { flex: 1 1 0%; display: flex; flex-direction: column; gap: 5px; }

.css-1d81y7z-contentWrapper { width: 100%; height: 100%; display: flex; flex-direction: column; }

.css-1d81y7z-contentWrapper .ProseMirror { height: 100%; outline: none; }

.css-d0mkon-editor { width: 100%; height: 100%; overflow-y: auto; font-size: 16px; line-height: 22px; word-break: break-word; border-radius: 25px; }

.css-d0mkon-editor .ProseMirror { height: 100px; padding: 10px; }

.css-d0mkon-editor blockquote { border-left: 3px solid rgb(222, 222, 222); background: rgb(189, 189, 189); color: rgb(85, 85, 85); margin: 1.5rem 0px; padding: 0.75rem 1rem; border-radius: 0.5rem; font-style: italic; font-size: 1rem; }

.css-d0mkon-editor mark { background-color: inherit; padding: 0.1em 0.3em; border-radius: 4px; }

.css-d0mkon-editor table { width: 100%; border-collapse: collapse; margin-top: 12px; margin-bottom: 12px; font-size: 14px; }

.css-d0mkon-editor th, .css-d0mkon-editor td { border: 1px solid rgb(66, 66, 80); padding: 8px 10px; text-align: left; min-width: 120px; max-width: 150px; word-break: break-word; }

.css-d0mkon-editor th { background-color: rgb(43, 43, 52); font-weight: bold; }

.css-d0mkon-editor td { background-color: rgb(43, 43, 52); }

.css-d0mkon-editor tr:hover td { background-color: rgba(255, 255, 255, 0.08); }

.css-d0mkon-editor .resize-cursor { cursor: col-resize; }

.css-d0mkon-editor ul, .css-d0mkon-editor ol { padding-left: 18px; margin: 0px; }

.css-d0mkon-editor li { margin-bottom: 4px; line-height: 20px; }

.css-7kbs12-editorBorder { border: 1px solid rgb(66, 66, 80); border-radius: 0px 0px 16px 16px; background: rgb(43, 43, 52); }

.css-1l2h1oa-editorBorderReadOnly { border-radius: unset; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; background: inherit; }

.css-1ig9lvc-editorBorderError { border: 1px solid rgb(221, 4, 4); }

.css-wcsz1w-headerBorderError { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(221, 4, 4) rgb(221, 4, 4) currentcolor; border-image: initial; }

.css-1b1qvbi-editorBorderFocus { border: 1px solid rgb(76, 161, 222); }

.css-xwvbv-allHeight { min-height: 0px; max-height: 100%; }

.css-xwvbv-allHeight .ProseMirror { min-height: 0px; }

.css-aethfe-verticalResize { resize: vertical; }

.css-7vylfs-editorToolbar { display: flex; flex-wrap: wrap; -webkit-box-align: center; align-items: center; gap: 5px; padding: 6px 8px; border-radius: 16px 16px 0px 0px; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(66, 66, 80) rgb(66, 66, 80) currentcolor; border-image: initial; background: rgb(43, 43, 52); }

.css-7vylfs-editorToolbar button { color: rgb(255, 255, 255); }

.css-7vylfs-editorToolbar .MuiIconButton-colorPrimary { color: rgb(76, 161, 222) !important; }

.css-vlrubg-editorButton { border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; min-width: unset; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }

.css-vlrubg-editorButton svg { width: 20px; height: 20px; }

.css-vlrubg-editorButton hover { color: rgb(76, 161, 222) !important; }

.css-pip411-editorButtonActive { color: rgb(76, 161, 222) !important; }

.css-1y7f79g-hideBorder { border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; }

.css-qs1nsw-title { width: 100%; font-size: 12px; line-height: 16px; font-weight: 500; }

.css-127ouoj-contentWrapper-editorContainer { width: 100%; display: flex; flex-direction: column; height: 100%; }

.css-127ouoj-contentWrapper-editorContainer .ProseMirror { height: 100%; outline: none; }

.css-127ouoj-contentWrapper-editorContainer h1 { font-size: 16px; line-height: 22px; font-weight: 500; margin-bottom: 20px; }

.css-127ouoj-contentWrapper-editorContainer h1:not(:first-child) { margin-top: 20px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight { width: 100%; height: 100%; overflow-y: auto; font-size: 16px; line-height: 22px; word-break: break-word; border-radius: unset; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; background: inherit; min-height: 0px; max-height: 100%; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight .ProseMirror { height: 100px; padding: 10px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight blockquote { border-left: 3px solid rgb(222, 222, 222); background: rgb(189, 189, 189); color: rgb(85, 85, 85); margin: 1.5rem 0px; padding: 0.75rem 1rem; border-radius: 0.5rem; font-style: italic; font-size: 1rem; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight mark { background-color: inherit; padding: 0.1em 0.3em; border-radius: 4px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight table { width: 100%; border-collapse: collapse; margin-top: 12px; margin-bottom: 12px; font-size: 14px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight th, .css-1q9flrk-editor-editorBorderReadOnly-allHeight td { border: 1px solid rgb(66, 66, 80); padding: 8px 10px; text-align: left; min-width: 120px; max-width: 150px; word-break: break-word; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight th { background-color: rgb(43, 43, 52); font-weight: bold; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight td { background-color: rgb(43, 43, 52); }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight tr:hover td { background-color: rgba(255, 255, 255, 0.08); }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight .resize-cursor { cursor: col-resize; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight ul, .css-1q9flrk-editor-editorBorderReadOnly-allHeight ol { padding-left: 18px; margin: 0px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight li { margin-bottom: 4px; line-height: 20px; }

.css-1q9flrk-editor-editorBorderReadOnly-allHeight .ProseMirror { min-height: 0px; }