@charset "utf-8";

:where(.css-1q3a9c7).ant-pagination { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1q3a9c7).ant-pagination::before, :where(.css-1q3a9c7).ant-pagination::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-pagination [class^="ant-pagination"], :where(.css-1q3a9c7).ant-pagination [class*=" ant-pagination"] { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-pagination [class^="ant-pagination"]::before, :where(.css-1q3a9c7).ant-pagination [class*=" ant-pagination"]::before, :where(.css-1q3a9c7).ant-pagination [class^="ant-pagination"]::after, :where(.css-1q3a9c7).ant-pagination [class*=" ant-pagination"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-pagination { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; display: flex; flex-wrap: wrap; row-gap: 8px; }

:where(.css-1q3a9c7).ant-pagination-start { justify-content: start; }

:where(.css-1q3a9c7).ant-pagination-center { justify-content: center; }

:where(.css-1q3a9c7).ant-pagination-end { justify-content: end; }

:where(.css-1q3a9c7).ant-pagination ul, :where(.css-1q3a9c7).ant-pagination ol { margin: 0px; padding: 0px; list-style: none; }

:where(.css-1q3a9c7).ant-pagination::after { display: block; clear: both; height: 0px; overflow: hidden; visibility: hidden; content: ""; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-total-text { display: inline-block; height: 32px; margin-inline-end: 8px; line-height: 30px; vertical-align: middle; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item { display: inline-block; min-width: 32px; height: 32px; margin-inline-end: 8px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; line-height: 30px; text-align: center; vertical-align: middle; list-style: none; background-color: rgb(43, 43, 52); border: 1px solid transparent; border-radius: 16px; outline: 0px; cursor: pointer; user-select: none; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item a { display: block; padding: 0px 6px; color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item a:hover { text-decoration: none; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover { transition: 0.2s; background-color: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):active { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item-active { font-weight: 600; background-color: rgb(43, 43, 52); border-color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item-active a { color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item-active:hover { border-color: rgb(107, 173, 214); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-item-active:hover a { color: rgb(107, 173, 214); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next { outline: 0px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container { position: relative; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon { color: rgb(68, 140, 192); font-size: 12px; opacity: 0; transition: 0.2s; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon-svg, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon-svg { top: 0px; inset-inline: 0px; bottom: 0px; margin: auto; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis { position: absolute; top: 0px; inset-inline: 0px; bottom: 0px; display: block; margin: auto; color: rgba(255, 255, 255, 0.25); letter-spacing: 2px; text-align: center; text-indent: 0.13em; opacity: 1; transition: 0.2s; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev:hover .ant-pagination-item-link-icon, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next:hover .ant-pagination-item-link-icon { opacity: 1; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis { opacity: 0; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next { margin-inline-end: 8px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-jump-next { display: inline-block; min-width: 32px; height: 32px; color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; line-height: 32px; text-align: center; vertical-align: middle; list-style: none; border-radius: 16px; cursor: pointer; transition: 0.2s; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next { outline: 0px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev button, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next button { color: rgb(255, 255, 255); cursor: pointer; user-select: none; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next .ant-pagination-item-link { display: block; width: 100%; height: 100%; padding: 0px; font-size: 12px; text-align: center; background-color: transparent; border: 1px solid transparent; border-radius: 16px; outline: none; transition: 0.2s; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next:hover .ant-pagination-item-link { background-color: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev:active .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next:active .ant-pagination-item-link { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-prev.ant-pagination-disabled:hover .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination .ant-pagination-next.ant-pagination-disabled:hover .ant-pagination-item-link { background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-slash { margin-inline: 12px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options { display: inline-block; margin-inline-start: 16px; vertical-align: middle; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-size-changer { display: inline-block; width: auto; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper { display: inline-block; height: 32px; margin-inline-start: 8px; line-height: 32px; vertical-align: top; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input { position: relative; display: inline-block; width: 50px; min-width: 0px; padding: 4px 11px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; border-radius: 16px; transition: 0.2s; background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(66, 66, 66); height: 32px; box-sizing: border-box; margin: 0px; margin-inline: 8px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input-lg { padding: 7px 11px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input-sm { padding: 0px 7px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input-rtl, :where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input-textarea-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input:hover { border-color: rgb(107, 173, 214); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input:focus, :where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input:focus-within { border-color: rgb(68, 140, 192); box-shadow: rgba(3, 170, 245, 0.15) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input[disabled] { color: rgba(255, 255, 255, 0.25); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input[disabled] input[disabled], :where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input[disabled] textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-options-quick-jumper input[disabled]:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-next { height: 32px; line-height: 32px; vertical-align: top; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link { height: 32px; background-color: transparent; border: 0px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link:hover { background-color: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link:active, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link:active { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link::after, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link::after { height: 32px; line-height: 32px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-simple-pager { display: inline-flex; align-items: center; height: 32px; margin-inline-end: 8px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input { box-sizing: border-box; height: 100%; width: 50px; padding: 0px 6px; text-align: center; background-color: rgb(43, 43, 52); border: 1px solid rgb(66, 66, 66); border-radius: 16px; outline: none; transition: border-color 0.2s; color: inherit; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input:hover { border-color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input:focus { border-color: rgb(107, 173, 214); box-shadow: rgba(3, 170, 245, 0.15) 0px 0px 0px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input[disabled] { color: rgba(255, 255, 255, 0.25); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-disabled .ant-pagination-prev .ant-pagination-item-link:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-disabled .ant-pagination-next .ant-pagination-item-link:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-disabled .ant-pagination-prev .ant-pagination-item-link:active, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-disabled .ant-pagination-next .ant-pagination-item-link:active { background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-next { height: 24px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link { height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link::after, :where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link::after { height: 24px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-simple-pager { height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-simple.ant-pagination-mini .ant-pagination-simple-pager input { width: 44px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-total-text, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-simple-pager { height: 24px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-item { min-width: 24px; height: 24px; margin: 0px; line-height: 22px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-prev, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-next { min-width: 24px; height: 24px; margin: 0px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-prev:hover .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-next:hover .ant-pagination-item-link { background-color: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-prev:active .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-next:active .ant-pagination-item-link { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-prev.ant-pagination-disabled:hover .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-next.ant-pagination-disabled:hover .ant-pagination-item-link { background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link { background-color: transparent; border-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-prev .ant-pagination-item-link::after, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-next .ant-pagination-item-link::after { height: 24px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-jump-prev, :where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-jump-next { height: 24px; margin-inline-end: 0px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-options { margin-inline-start: 2px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-options-size-changer { top: 0px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-options-quick-jumper { height: 24px; line-height: 24px; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-mini .ant-pagination-options-quick-jumper input { padding: 0px 7px; font-size: 14px; border-radius: 8px; width: 44px; height: 24px; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled, :where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled:hover { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled:focus-visible { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination .ant-pagination-disabled:focus-visible .ant-pagination-item-link { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item { cursor: not-allowed; background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item:active { background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item a { color: rgba(255, 255, 255, 0.25); background-color: transparent; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-active { border-color: rgb(66, 66, 66); background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-active:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-active:active { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-active a { color: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link:hover, :where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link:active { background-color: transparent; }

.ant-pagination-simple:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link { background-color: transparent; }

.ant-pagination-simple:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link:hover, .ant-pagination-simple:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-item-link:active { background-color: transparent; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-simple-pager { color: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev .ant-pagination-item-link-icon, :where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-jump-next .ant-pagination-item-link-icon { opacity: 0; }

:where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev .ant-pagination-item-ellipsis, :where(.css-1q3a9c7).ant-pagination.ant-pagination-disabled .ant-pagination-jump-next .ant-pagination-item-ellipsis { opacity: 1; }

@media only screen and (max-width: 992px) {
  :where(.css-1q3a9c7).ant-pagination .ant-pagination-item-after-jump-prev, :where(.css-1q3a9c7).ant-pagination .ant-pagination-item-before-jump-next { display: none; }
}

@media only screen and (max-width: 576px) {
  :where(.css-1q3a9c7).ant-pagination .ant-pagination-options { display: none; }
}

:where(.css-1q3a9c7).ant-pagination-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-item:focus-visible { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-prev:focus-visible, :where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-next:focus-visible { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-prev:focus-visible .ant-pagination-item-link-icon, :where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-next:focus-visible .ant-pagination-item-link-icon { opacity: 1; }

:where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-prev:focus-visible .ant-pagination-item-ellipsis, :where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-jump-next:focus-visible .ant-pagination-item-ellipsis { opacity: 0; }

:where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-prev:focus-visible .ant-pagination-item-link, :where(.css-1q3a9c7).ant-pagination:not(.ant-pagination-disabled) .ant-pagination-next:focus-visible .ant-pagination-item-link { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }