@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"], :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"]::after, :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"]::after { box-sizing: border-box; }

textarea:where(.css-1q3a9c7).ant-input { max-width: 100%; height: auto; min-height: 32px; line-height: 1.57143; vertical-align: bottom; transition: 0.3s; resize: vertical; }

textarea:where(.css-1q3a9c7).ant-input.ant-input-mouse-active { transition: 0.3s, height, width; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper-resize-dirty { width: auto; }

:where(.css-1q3a9c7).ant-input-textarea { position: relative; }

:where(.css-1q3a9c7).ant-input-textarea-show-count .ant-input-data-count { position: absolute; bottom: -22px; inset-inline-end: 0px; color: rgba(255, 255, 255, 0.45); white-space: nowrap; pointer-events: none; }

:where(.css-1q3a9c7).ant-input-textarea-allow-clear > .ant-input, :where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-textarea-has-feedback .ant-input { padding-inline-end: 24px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper { padding: 0px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper > textarea.ant-input { font-size: inherit; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; outline: none; background: transparent; min-height: 30px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper > textarea.ant-input:focus { box-shadow: none !important; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper .ant-input-suffix { margin: 0px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper .ant-input-suffix > :not(:last-child) { margin-inline: 0px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper .ant-input-suffix .ant-input-clear-icon { position: absolute; inset-inline-end: 11px; inset-block-start: 8px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper .ant-input-suffix .ant-input-textarea-suffix { position: absolute; top: 0px; inset-inline-end: 11px; bottom: 0px; z-index: 1; display: inline-flex; align-items: center; margin: auto; pointer-events: none; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper-rtl .ant-input-suffix .ant-input-data-count { direction: ltr; inset-inline-start: 0px; }

:where(.css-1q3a9c7).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper-sm .ant-input-suffix .ant-input-clear-icon { inset-inline-end: 7px; }