@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-form"], :where(.css-1q3a9c7)[class*=" ant-form"] { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-form"]::before, :where(.css-1q3a9c7)[class*=" ant-form"]::before, :where(.css-1q3a9c7)[class^="ant-form"]::after, :where(.css-1q3a9c7)[class*=" ant-form"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-form"] [class^="ant-form"], :where(.css-1q3a9c7)[class*=" ant-form"] [class^="ant-form"], :where(.css-1q3a9c7)[class^="ant-form"] [class*=" ant-form"], :where(.css-1q3a9c7)[class*=" ant-form"] [class*=" ant-form"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-form"] [class^="ant-form"]::before, :where(.css-1q3a9c7)[class*=" ant-form"] [class^="ant-form"]::before, :where(.css-1q3a9c7)[class^="ant-form"] [class*=" ant-form"]::before, :where(.css-1q3a9c7)[class*=" ant-form"] [class*=" ant-form"]::before, :where(.css-1q3a9c7)[class^="ant-form"] [class^="ant-form"]::after, :where(.css-1q3a9c7)[class*=" ant-form"] [class^="ant-form"]::after, :where(.css-1q3a9c7)[class^="ant-form"] [class*=" ant-form"]::after, :where(.css-1q3a9c7)[class*=" ant-form"] [class*=" ant-form"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-form { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

:where(.css-1q3a9c7).ant-form legend { display: block; width: 100%; margin-bottom: 24px; padding: 0px; color: rgba(255, 255, 255, 0.45); font-size: 16px; line-height: inherit; border-width: 0px 0px 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(66, 66, 66); border-image: initial; }

:where(.css-1q3a9c7).ant-form input[type="search"] { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-form input[type="radio"], :where(.css-1q3a9c7).ant-form input[type="checkbox"] { line-height: normal; }

:where(.css-1q3a9c7).ant-form input[type="file"] { display: block; }

:where(.css-1q3a9c7).ant-form input[type="range"] { display: block; width: 100%; }

:where(.css-1q3a9c7).ant-form select[multiple], :where(.css-1q3a9c7).ant-form select[size] { height: auto; }

:where(.css-1q3a9c7).ant-form input[type="file"]:focus, :where(.css-1q3a9c7).ant-form input[type="radio"]:focus, :where(.css-1q3a9c7).ant-form input[type="checkbox"]:focus { outline: 0px; box-shadow: rgba(3, 170, 245, 0.15) 0px 0px 0px 0px; }

:where(.css-1q3a9c7).ant-form output { display: block; padding-top: 15px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; }

:where(.css-1q3a9c7).ant-form .ant-form-text { display: inline-block; padding-inline-end: 12px; }

:where(.css-1q3a9c7).ant-form-small .ant-form-item .ant-form-item-label > label { height: 24px; }

:where(.css-1q3a9c7).ant-form-small .ant-form-item .ant-form-item-control-input { min-height: 24px; }

:where(.css-1q3a9c7).ant-form-large .ant-form-item .ant-form-item-label > label { height: 40px; }

:where(.css-1q3a9c7).ant-form-large .ant-form-item .ant-form-item-control-input { min-height: 40px; }

:where(.css-1q3a9c7).ant-form-item { box-sizing: border-box; margin: 0px 0px 24px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; vertical-align: top; }

:where(.css-1q3a9c7).ant-form-item-with-help { transition: none; }

:where(.css-1q3a9c7).ant-form-item-hidden, :where(.css-1q3a9c7).ant-form-item-hidden.ant-row { display: none; }

:where(.css-1q3a9c7).ant-form-item-has-warning .ant-form-item-split { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-form-item-has-error .ant-form-item-split { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label { flex-grow: 0; overflow: hidden; white-space: nowrap; text-align: end; vertical-align: middle; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label-left { text-align: start; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label-wrap { overflow: unset; line-height: 1.57143; white-space: unset; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label-wrap > label { vertical-align: middle; text-wrap: balance; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label { position: relative; display: inline-flex; align-items: center; max-width: 100%; height: 32px; color: rgb(255, 255, 255); font-size: 14px; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label > .anticon { font-size: 14px; vertical-align: top; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label.ant-form-item-required::before { display: inline-block; margin-inline-end: 4px; color: rgb(221, 4, 4); font-size: 14px; font-family: SimSun, sans-serif; line-height: 1; content: "*"; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label.ant-form-item-required.ant-form-item-required-mark-hidden::before, :where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label.ant-form-item-required.ant-form-item-required-mark-optional::before { display: none; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label .ant-form-item-optional { display: inline-block; margin-inline-start: 4px; color: rgba(255, 255, 255, 0.45); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label .ant-form-item-optional.ant-form-item-required-mark-hidden { display: none; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label .ant-form-item-tooltip { color: rgba(255, 255, 255, 0.45); cursor: help; writing-mode: horizontal-tb; margin-inline-start: 4px; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label::after { content: ":"; position: relative; margin-block: 0px; margin-inline: 2px 8px; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label.ant-form-item-no-colon::after { content: " "; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-control { --ant-display: flex; flex-direction: column; flex-grow: 1; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-control:first-child:not([class^="'ant-col-'"]):not([class*="' ant-col-'"]) { width: 100%; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-control-input { position: relative; display: flex; align-items: center; min-height: 32px; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-control-input-content { flex: 1 1 auto; max-width: 100%; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-control-input-content:has(> .ant-switch:only-child, > .ant-rate:only-child) { display: flex; align-items: center; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-additional { display: flex; flex-direction: column; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-explain, :where(.css-1q3a9c7).ant-form-item .ant-form-item-extra { clear: both; color: rgba(255, 255, 255, 0.45); font-size: 14px; line-height: 1.57143; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-explain-connected { width: 100%; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-extra { min-height: 24px; transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-explain-error { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-explain-warning { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-form-item-with-help .ant-form-item-explain { height: auto; opacity: 1; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-feedback-icon { font-size: 14px; text-align: center; visibility: visible; animation-name: css-1q3a9c7-antZoomIn; animation-duration: 0.2s; animation-timing-function: cubic-bezier(0.12, 0.4, 0.29, 1.46); pointer-events: none; }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-feedback-icon-success { color: rgb(73, 170, 25); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-feedback-icon-error { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-feedback-icon-warning { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-form-item .ant-form-item-feedback-icon-validating { color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-form-show-help { transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

:where(.css-1q3a9c7).ant-form-show-help-appear, :where(.css-1q3a9c7).ant-form-show-help-enter { opacity: 0; }

:where(.css-1q3a9c7).ant-form-show-help-appear-active, :where(.css-1q3a9c7).ant-form-show-help-enter-active { opacity: 1; }

:where(.css-1q3a9c7).ant-form-show-help-leave { opacity: 1; }

:where(.css-1q3a9c7).ant-form-show-help-leave-active { opacity: 0; }

:where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item { overflow: hidden; transition: height 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) !important; }

:where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item.ant-form-show-help-item-appear, :where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item.ant-form-show-help-item-enter { transform: translateY(-5px); opacity: 0; }

:where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item.ant-form-show-help-item-appear-active, :where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item.ant-form-show-help-item-enter-active { transform: translateY(0px); opacity: 1; }

:where(.css-1q3a9c7).ant-form-show-help .ant-form-show-help-item.ant-form-show-help-item-leave-active { transform: translateY(-5px); }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-form-item-label { flex-grow: 0; }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-form-item-control { flex: 1 1 0px; min-width: 0px; }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-form-item-label[class$="-24"] + .ant-form-item-control, :where(.css-1q3a9c7).ant-form-item-horizontal .ant-form-item-label[class*="-24 "] + .ant-form-item-control { min-width: unset; }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-24.ant-form-item-label, :where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-xl-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-24.ant-form-item-label > label, :where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-xl-24.ant-form-item-label > label { margin: 0px; }

:where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-24.ant-form-item-label > label::after, :where(.css-1q3a9c7).ant-form-item-horizontal .ant-col-xl-24.ant-form-item-label > label::after { visibility: hidden; }

:where(.css-1q3a9c7).ant-form-inline { display: flex; flex-wrap: wrap; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline { flex: 0 0 auto; margin-inline-end: 16px; margin-bottom: 0px; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline-row { flex-wrap: nowrap; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline > .ant-form-item-label, :where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline > .ant-form-item-control { display: inline-block; vertical-align: top; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline > .ant-form-item-label { flex: 0 0 auto; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline .ant-form-text { display: inline-block; }

:where(.css-1q3a9c7).ant-form-inline .ant-form-item-inline .ant-form-item-has-feedback { display: inline-block; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-row { flex-direction: column; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-label > label { height: auto; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-control { width: 100%; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-label, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-24.ant-form-item-label, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-xl-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-label > label, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-24.ant-form-item-label > label, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-xl-24.ant-form-item-label > label { margin: 0px; }

:where(.css-1q3a9c7).ant-form-item-vertical .ant-form-item-label > label::after, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-24.ant-form-item-label > label::after, :where(.css-1q3a9c7).ant-form-item-vertical .ant-col-xl-24.ant-form-item-label > label::after { visibility: hidden; }

@media (max-width: 575px) {
  :where(.css-1q3a9c7).ant-form-item .ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }
  :where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label { margin: 0px; }
  :where(.css-1q3a9c7).ant-form-item .ant-form-item-label > label::after { visibility: hidden; }
  :where(.css-1q3a9c7).ant-form:not(.ant-form-inline) .ant-form-item { flex-wrap: wrap; }
  :where(.css-1q3a9c7).ant-form:not(.ant-form-inline) .ant-form-item .ant-form-item-label:not([class*=" ant-col-xs"]), :where(.css-1q3a9c7).ant-form:not(.ant-form-inline) .ant-form-item .ant-form-item-control:not([class*=" ant-col-xs"]) { flex: 0 0 100%; max-width: 100%; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xs-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xs-24.ant-form-item-label > label { margin: 0px; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xs-24.ant-form-item-label > label::after { visibility: hidden; }
}

@media (max-width: 767px) {
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-sm-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-sm-24.ant-form-item-label > label { margin: 0px; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-sm-24.ant-form-item-label > label::after { visibility: hidden; }
}

@media (max-width: 991px) {
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-md-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-md-24.ant-form-item-label > label { margin: 0px; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-md-24.ant-form-item-label > label::after { visibility: hidden; }
}

@media (max-width: 1199px) {
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-lg-24.ant-form-item-label { padding: 0px 0px 8px; margin: 0px; white-space: initial; text-align: start; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-lg-24.ant-form-item-label > label { margin: 0px; }
  :where(.css-1q3a9c7).ant-form .ant-form-item:not(.ant-form-item-horizontal) .ant-col-lg-24.ant-form-item-label > label::after { visibility: hidden; }
}

:where(.css-1q3a9c7).ant-form .ant-motion-collapse-legacy { overflow: hidden; }

:where(.css-1q3a9c7).ant-form .ant-motion-collapse-legacy-active { transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important; }

:where(.css-1q3a9c7).ant-form .ant-motion-collapse { overflow: hidden; transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important; }