@charset "utf-8";

:where(.css-119ou95).ant-empty { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-119ou95).ant-empty::before, :where(.css-119ou95).ant-empty::after { box-sizing: border-box; }

:where(.css-119ou95).ant-empty [class^="ant-empty"], :where(.css-119ou95).ant-empty [class*=" ant-empty"] { box-sizing: border-box; }

:where(.css-119ou95).ant-empty [class^="ant-empty"]::before, :where(.css-119ou95).ant-empty [class*=" ant-empty"]::before, :where(.css-119ou95).ant-empty [class^="ant-empty"]::after, :where(.css-119ou95).ant-empty [class*=" ant-empty"]::after { box-sizing: border-box; }

:where(.css-119ou95).ant-empty { margin-inline: 8px; font-size: 14px; line-height: 1.57143; text-align: center; }

:where(.css-119ou95).ant-empty .ant-empty-image { height: 100px; margin-bottom: 8px; opacity: 1; }

:where(.css-119ou95).ant-empty .ant-empty-image img { height: 100%; }

:where(.css-119ou95).ant-empty .ant-empty-image svg { max-width: 100%; height: 100%; margin: auto; }

:where(.css-119ou95).ant-empty .ant-empty-description { color: rgba(0, 0, 0, 0.45); }

:where(.css-119ou95).ant-empty .ant-empty-footer { margin-top: 16px; }

:where(.css-119ou95).ant-empty-normal { margin-block: 32px; color: rgba(0, 0, 0, 0.45); }

:where(.css-119ou95).ant-empty-normal .ant-empty-description { color: rgba(0, 0, 0, 0.45); }

:where(.css-119ou95).ant-empty-normal .ant-empty-image { height: 40px; }

:where(.css-119ou95).ant-empty-small { margin-block: 8px; color: rgba(0, 0, 0, 0.45); }

:where(.css-119ou95).ant-empty-small .ant-empty-image { height: 35px; }