@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-input-number"], :where(.css-1q3a9c7)[class*=" ant-input-number"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input-number"]::before, :where(.css-1q3a9c7)[class*=" ant-input-number"]::before, :where(.css-1q3a9c7)[class^="ant-input-number"]::after, :where(.css-1q3a9c7)[class*=" ant-input-number"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input-number"] [class^="ant-input-number"], :where(.css-1q3a9c7)[class*=" ant-input-number"] [class^="ant-input-number"], :where(.css-1q3a9c7)[class^="ant-input-number"] [class*=" ant-input-number"], :where(.css-1q3a9c7)[class*=" ant-input-number"] [class*=" ant-input-number"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input-number"] [class^="ant-input-number"]::before, :where(.css-1q3a9c7)[class*=" ant-input-number"] [class^="ant-input-number"]::before, :where(.css-1q3a9c7)[class^="ant-input-number"] [class*=" ant-input-number"]::before, :where(.css-1q3a9c7)[class*=" ant-input-number"] [class*=" ant-input-number"]::before, :where(.css-1q3a9c7)[class^="ant-input-number"] [class^="ant-input-number"]::after, :where(.css-1q3a9c7)[class*=" ant-input-number"] [class^="ant-input-number"]::after, :where(.css-1q3a9c7)[class^="ant-input-number"] [class*=" ant-input-number"]::after, :where(.css-1q3a9c7)[class*=" ant-input-number"] [class*=" ant-input-number"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input-number { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: relative; display: inline-block; width: 90px; min-width: 0px; border-radius: 16px; transition: 0.2s; }

:where(.css-1q3a9c7).ant-input-number::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-input-number:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-input-number-lg { padding: 0px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-lg input.ant-input-number-input { height: 38px; padding: 7px 11px; }

:where(.css-1q3a9c7).ant-input-number-sm { padding: 0px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-sm input.ant-input-number-input { height: 22px; padding: 0px 7px; }

:where(.css-1q3a9c7).ant-input-number-rtl, :where(.css-1q3a9c7).ant-input-number-textarea-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-number-outlined { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-outlined:hover { border-color: rgb(107, 173, 214); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined:focus, :where(.css-1q3a9c7).ant-input-number-outlined:focus-within { border-color: rgb(68, 140, 192); box-shadow: rgba(3, 170, 245, 0.15) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-disabled, :where(.css-1q3a9c7).ant-input-number-outlined[disabled] { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-disabled input[disabled], :where(.css-1q3a9c7).ant-input-number-outlined[disabled] input[disabled], :where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-disabled textarea[disabled], :where(.css-1q3a9c7).ant-input-number-outlined[disabled] textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-disabled:hover:not([disabled]), :where(.css-1q3a9c7).ant-input-number-outlined[disabled]:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled) { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled):hover { border-color: rgb(126, 46, 47); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled):focus-within { border-color: rgb(221, 4, 4); box-shadow: rgba(45, 4, 0, 0.54) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-error.ant-input-number-disabled { border-color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled) { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled):hover { border-color: rgb(124, 89, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled):focus-within { border-color: rgb(216, 150, 20); box-shadow: rgba(43, 28, 0, 0.67) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-outlined.ant-input-number-status-warning.ant-input-number-disabled { border-color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-outlined .ant-input-number-handler-wrap { background: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-outlined .ant-input-number-handler-wrap .ant-input-number-handler-down { border-block-start: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-filled { background: rgba(255, 255, 255, 0.08); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-number-filled, :where(.css-1q3a9c7).ant-input-number-filled input, textarea:where(.css-1q3a9c7).ant-input-number-filled, :where(.css-1q3a9c7).ant-input-number-filled textarea { color: unset; }

:where(.css-1q3a9c7).ant-input-number-filled:hover { background: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-input-number-filled:focus, :where(.css-1q3a9c7).ant-input-number-filled:focus-within { outline: 0px; border-color: rgb(68, 140, 192); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-disabled, :where(.css-1q3a9c7).ant-input-number-filled[disabled] { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-disabled input[disabled], :where(.css-1q3a9c7).ant-input-number-filled[disabled] input[disabled], :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-disabled textarea[disabled], :where(.css-1q3a9c7).ant-input-number-filled[disabled] textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-disabled:hover:not([disabled]), :where(.css-1q3a9c7).ant-input-number-filled[disabled]:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled) { background: rgb(221, 4, 4); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled), :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled) input, textarea:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled), :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled) textarea { color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled):hover { background: rgb(69, 29, 31); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled):focus-within { outline: 0px; border-color: rgb(221, 4, 4); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled) { background: rgb(43, 33, 17); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled), :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled) input, textarea:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled), :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled) textarea { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled):hover { background: rgb(68, 49, 17); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled):focus-within { outline: 0px; border-color: rgb(216, 150, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-filled.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-filled .ant-input-number-handler-wrap { background: rgb(68, 68, 76); }

:where(.css-1q3a9c7).ant-input-number-filled .ant-input-number-handler-wrap .ant-input-number-handler-down { border-block-start: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-filled:focus-within .ant-input-number-handler-wrap { background: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(66, 66, 66); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-underlined:hover { border-color: transparent transparent rgb(107, 173, 214); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined:focus, :where(.css-1q3a9c7).ant-input-number-underlined:focus-within { border-color: transparent transparent rgb(68, 140, 192); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-disabled, :where(.css-1q3a9c7).ant-input-number-underlined[disabled] { color: rgb(255, 255, 255); box-shadow: none; cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-disabled:hover, :where(.css-1q3a9c7).ant-input-number-underlined[disabled]:hover { border-color: transparent transparent rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-underlined input[disabled], :where(.css-1q3a9c7).ant-input-number-underlined textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled) { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(221, 4, 4); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled):hover { border-color: transparent transparent rgb(126, 46, 47); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled):focus-within { border-color: transparent transparent rgb(221, 4, 4); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-error.ant-input-number-disabled { border-color: transparent transparent rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled) { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(216, 150, 20); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled):hover { border-color: transparent transparent rgb(124, 89, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled):focus, :where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled):focus-within { border-color: transparent transparent rgb(216, 150, 20); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning:not(.ant-input-number-disabled) .ant-input-number-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-underlined.ant-input-number-status-warning.ant-input-number-disabled { border-color: transparent transparent rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-underlined .ant-input-number-handler-wrap { background: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-number-underlined .ant-input-number-handler-wrap .ant-input-number-handler-down { border-block-start: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-borderless { background: transparent; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; }

:where(.css-1q3a9c7).ant-input-number-borderless:focus, :where(.css-1q3a9c7).ant-input-number-borderless:focus-within { outline: none; }

:where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-disabled, :where(.css-1q3a9c7).ant-input-number-borderless[disabled] { color: rgb(255, 255, 255); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-error, :where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-error input, :where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-error textarea { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-warning, :where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-warning input, :where(.css-1q3a9c7).ant-input-number-borderless.ant-input-number-status-warning textarea { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-number-rtl .ant-input-number-input { direction: rtl; }

:where(.css-1q3a9c7).ant-input-number-out-of-range .ant-input-number-input-wrap input { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-number-group { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: relative; display: table; width: 100%; border-collapse: separate; border-spacing: 0px; }

:where(.css-1q3a9c7).ant-input-number-group[class*="col-"] { padding-inline-end: 8px; }

:where(.css-1q3a9c7).ant-input-number-group[class*="col-"]:last-child { padding-inline-end: 0px; }

:where(.css-1q3a9c7).ant-input-number-group-lg .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group-lg > .ant-input-number-group-addon { padding: 7px 11px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-group-sm .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group-sm > .ant-input-number-group-addon { padding: 0px 7px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-group-lg .ant-select-single .ant-select-selector { height: 40px; }

:where(.css-1q3a9c7).ant-input-number-group-sm .ant-select-single .ant-select-selector { height: 24px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number { display: table-cell; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number:not(:first-child):not(:last-child) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon, :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-wrap { display: table-cell; width: 1px; white-space: nowrap; vertical-align: middle; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-wrap:not(:first-child):not(:last-child) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-wrap > * { display: block !important; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon { position: relative; padding: 0px 11px; color: rgb(255, 255, 255); font-weight: normal; font-size: 14px; text-align: center; border-radius: 16px; transition: 0.3s; line-height: 1; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon .ant-select { margin: -5px -11px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector { background-color: inherit; border: 1px solid transparent; box-shadow: none; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon .ant-cascader-picker { margin: -9px -11px; background-color: transparent; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon .ant-cascader-picker .ant-cascader-input { text-align: start; border: 0px; box-shadow: none; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number { width: 100%; margin-bottom: 0px; text-align: inherit; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number:focus { z-index: 1; border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number:hover { z-index: 1; border-inline-end-width: 1px; }

.ant-input-number-search-with-button :where(.css-1q3a9c7).ant-input-number-group .ant-input-number:hover { z-index: 0; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number:first-child, :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon:first-child { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number:first-child .ant-select .ant-select-selector, :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon:first-child .ant-select .ant-select-selector { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number-affix-wrapper:not(:first-child) .ant-input-number { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number-affix-wrapper:not(:last-child) .ant-input-number { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number:last-child, :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon:last-child { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group > .ant-input-number:last-child .ant-select .ant-select-selector, :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-group-addon:last-child .ant-select .ant-select-selector { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-affix-wrapper:not(:last-child) { border-start-end-radius: 0px; border-end-end-radius: 0px; }

.ant-input-number-search :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-affix-wrapper:not(:last-child) { border-start-start-radius: 16px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-group .ant-input-number-affix-wrapper:not(:first-child), .ant-input-number-search :where(.css-1q3a9c7).ant-input-number-group .ant-input-number-affix-wrapper:not(:first-child) { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact { display: block; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact::before { display: table; content: ""; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact::after { display: table; clear: both; content: ""; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-addon:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrap:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number:not(:first-child):not(:last-child) { border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-addon:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrap:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-addon:not(:first-child):not(:last-child):focus, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrap:not(:first-child):not(:last-child):focus, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number:not(:first-child):not(:last-child):focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > * { display: inline-flex; float: none; vertical-align: top; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number-affix-wrapper, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number-number-affix-wrapper, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-picker-range { display: inline-flex; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > :not(:last-child) { margin-inline-end: -1px; border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number { float: none; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select > .ant-select-selector, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-auto-complete .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number-group-wrapper .ant-input-number { border-inline-end-width: 1px; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select > .ant-select-selector:hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-auto-complete .ant-input-number:hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker .ant-input-number:hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number-group-wrapper .ant-input-number:hover, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select > .ant-select-selector:focus, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-auto-complete .ant-input-number:focus, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker .ant-input-number:focus, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-input-number-group-wrapper .ant-input-number:focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-focused { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select > .ant-select-arrow { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > :first-child, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select:first-child > .ant-select-selector, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-auto-complete:first-child .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker:first-child .ant-input-number { border-start-start-radius: 16px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > :last-child, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select:last-child > .ant-select-selector, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker:last-child .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-cascader-picker-focused:last-child .ant-input-number { border-inline-end-width: 1px; border-start-end-radius: 16px; border-end-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact > .ant-select-auto-complete .ant-input-number { vertical-align: top; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrapper + .ant-input-number-group-wrapper { margin-inline-start: -1px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrapper + .ant-input-number-group-wrapper .ant-input-number-affix-wrapper { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrapper:not(:last-child).ant-input-number-search > .ant-input-number-group > .ant-input-number-group-addon > .ant-input-number-search-button { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group.ant-input-number-group-compact .ant-input-number-group-wrapper:not(:last-child).ant-input-number-search > .ant-input-number-group > .ant-input-number { border-start-start-radius: 16px; border-start-end-radius: 0px; border-end-end-radius: 0px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper { display: inline-block; text-align: start; vertical-align: top; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper .ant-input-number-affix-wrapper { width: 100%; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-lg .ant-input-number-group-addon { border-radius: 16px; font-size: 16px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-sm .ant-input-number-group-addon { border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined .ant-input-number-group-addon { background: rgba(255, 255, 255, 0.04); border: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined .ant-input-number-group-addon:first-child { border-inline-end: 0px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined .ant-input-number-group-addon:last-child { border-inline-start: 0px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-status-error .ant-input-number-group-addon { border-color: rgb(221, 4, 4); color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-status-warning .ant-input-number-group-addon { border-color: rgb(216, 150, 20); color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon input[disabled], :where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-outlined.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled .ant-input-number-group-addon { background: rgba(255, 255, 255, 0.08); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled .ant-input-number-group-addon:last-child { position: static; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled.ant-input-number-group-wrapper-status-error .ant-input-number-group-addon { background: rgb(221, 4, 4); color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled.ant-input-number-group-wrapper-status-warning .ant-input-number-group-addon { background: rgb(43, 33, 17); color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon { background: rgba(255, 255, 255, 0.08); color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon:first-child { border-inline-start: 1px solid rgb(66, 66, 66); border-top: 1px solid rgb(66, 66, 66); border-bottom: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper-filled.ant-input-number-group-wrapper-disabled .ant-input-number-group-addon:last-child { border-inline-end: 1px solid rgb(66, 66, 66); border-top: 1px solid rgb(66, 66, 66); border-bottom: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-first-item):not(.ant-input-number-compact-last-item).ant-input-number-compact-item .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-first-item):not(.ant-input-number-compact-last-item).ant-input-number-compact-item .ant-input-number-group-addon { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-last-item).ant-input-number-compact-first-item .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-last-item).ant-input-number-compact-first-item .ant-input-number-group-addon { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-first-item).ant-input-number-compact-last-item .ant-input-number, :where(.css-1q3a9c7).ant-input-number-group-wrapper:not(.ant-input-number-compact-first-item).ant-input-number-compact-last-item .ant-input-number-group-addon { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-disabled .ant-input-number-input { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-input { box-sizing: border-box; margin: 0px; padding: 4px 11px; color: rgb(255, 255, 255); font-size: inherit; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; width: 100%; text-align: start; background-color: transparent; border: 0px; border-radius: 16px; outline: 0px; transition: 0.2s linear; appearance: textfield; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-input::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-input:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-input[type="number"]::-webkit-inner-spin-button, :where(.css-1q3a9c7).ant-input-number .ant-input-number-input[type="number"]::-webkit-outer-spin-button { margin: 0px; appearance: none; }

:where(.css-1q3a9c7).ant-input-number:hover .ant-input-number-handler-wrap, :where(.css-1q3a9c7).ant-input-number-focused .ant-input-number-handler-wrap { width: 22px; opacity: 1; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-wrap { position: absolute; inset-block-start: 0px; inset-inline-end: 0px; width: 0px; opacity: 0; height: 100%; border-start-start-radius: 0px; border-start-end-radius: 16px; border-end-end-radius: 16px; border-end-start-radius: 0px; display: flex; flex-direction: column; align-items: stretch; transition: 0.2s; overflow: hidden; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler { display: flex; align-items: center; justify-content: center; flex: 1 1 auto; height: 40%; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-up-inner, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler .ant-input-number-handler-down-inner { margin-inline-end: 0px; font-size: 7px; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler { height: 50%; overflow: hidden; color: rgba(255, 255, 255, 0.45); font-weight: bold; line-height: 0; text-align: center; cursor: pointer; border-inline-start: 1px solid rgb(66, 66, 66); transition: 0.2s linear; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler:active { background: rgba(255, 255, 255, 0.04); }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler:hover { height: 60%; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner { color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-up-inner, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-down-inner { display: inline-flex; align-items: center; color: rgba(255, 255, 255, 0.45); font-style: normal; line-height: 0; text-align: center; text-transform: none; vertical-align: -0.125em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; transition: 0.2s linear; user-select: none; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-up-inner > *, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-down-inner > * { line-height: 1; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-up-inner svg, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-down-inner svg { display: inline-block; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-up { border-start-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-down { border-end-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-lg .ant-input-number-handler-wrap { border-start-end-radius: 16px; border-end-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-lg .ant-input-number-handler-up { border-start-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-lg .ant-input-number-handler-down { border-end-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-number-sm .ant-input-number-handler-wrap { border-start-end-radius: 8px; border-end-end-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-sm .ant-input-number-handler-up { border-start-end-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-sm .ant-input-number-handler-down { border-end-end-radius: 8px; }

:where(.css-1q3a9c7).ant-input-number-disabled .ant-input-number-handler-wrap, :where(.css-1q3a9c7).ant-input-number-readonly .ant-input-number-handler-wrap { display: none; }

:where(.css-1q3a9c7).ant-input-number-disabled .ant-input-number-input, :where(.css-1q3a9c7).ant-input-number-readonly .ant-input-number-input { color: inherit; }

:where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-up-disabled, :where(.css-1q3a9c7).ant-input-number .ant-input-number-handler-down-disabled { cursor: not-allowed; }

.ant-input-number-handler-up-disabled:hover :where(.css-1q3a9c7).ant-input-number-handler-up-inner, .ant-input-number-handler-down-disabled:hover :where(.css-1q3a9c7).ant-input-number-handler-down-inner { color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper { position: relative; display: inline-flex; width: 90px; min-width: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; border-radius: 16px; transition: 0.2s; align-items: center; padding-inline-start: 11px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper input.ant-input-number-input { padding: 4px 0px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-lg { border-radius: 16px; padding-inline-start: 11px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-lg input.ant-input-number-input { padding: 7px 0px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-sm { border-radius: 8px; padding-inline-start: 7px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-sm input.ant-input-number-input { padding: 0px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-rtl, :where(.css-1q3a9c7).ant-input-number-affix-wrapper-textarea-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper:not(.ant-input-number-disabled):hover { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-focused, :where(.css-1q3a9c7).ant-input-number-affix-wrapper:focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper-disabled > .ant-input-number-disabled { background: transparent; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper > div.ant-input-number { width: 100%; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; outline: none; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper > div.ant-input-number.ant-input-number-focused { box-shadow: none !important; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper::before { display: inline-block; width: 0px; visibility: hidden; content: " "; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number-handler-wrap { z-index: 2; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number { position: static; color: inherit; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number-prefix, :where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number-suffix { display: flex; flex: 0 0 auto; align-items: center; pointer-events: none; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number-prefix { margin-inline-end: 4px; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper .ant-input-number-suffix { inset-block-start: 0px; inset-inline-end: 0px; height: 100%; margin-inline: 4px 11px; transition: margin 0.2s; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper:hover .ant-input-number-handler-wrap, :where(.css-1q3a9c7).ant-input-number-affix-wrapper-focused .ant-input-number-handler-wrap { width: 22px; opacity: 1; }

:where(.css-1q3a9c7).ant-input-number-affix-wrapper:not(.ant-input-number-affix-wrapper-without-controls):hover .ant-input-number-suffix { margin-inline-end: 33px; }

:where(.css-1q3a9c7).ant-input-number-underlined { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-last-item) { margin-inline-end: -1px; }

:where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-status-success) { z-index: 2; }

:where(.css-1q3a9c7).ant-input-number-compact-item:hover, :where(.css-1q3a9c7).ant-input-number-compact-item:focus, :where(.css-1q3a9c7).ant-input-number-compact-item:active { z-index: 3; }

:where(.css-1q3a9c7).ant-input-number-compact-item[disabled] { z-index: 0; }

:where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-first-item):not(.ant-input-number-compact-last-item) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-last-item).ant-input-number-compact-first-item, :where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-last-item).ant-input-number-compact-first-item.ant-input-number-sm, :where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-last-item).ant-input-number-compact-first-item.ant-input-number-lg { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-first-item).ant-input-number-compact-last-item, :where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-first-item).ant-input-number-compact-last-item.ant-input-number-sm, :where(.css-1q3a9c7).ant-input-number-compact-item:not(.ant-input-number-compact-first-item).ant-input-number-compact-last-item.ant-input-number-lg { border-start-start-radius: 0px; border-end-start-radius: 0px; }