@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-tree-select"], :where(.css-1q3a9c7)[class*=" ant-tree-select"] { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-tree-select"]::before, :where(.css-1q3a9c7)[class*=" ant-tree-select"]::before, :where(.css-1q3a9c7)[class^="ant-tree-select"]::after, :where(.css-1q3a9c7)[class*=" ant-tree-select"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-tree-select"] [class^="ant-tree-select"], :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class^="ant-tree-select"], :where(.css-1q3a9c7)[class^="ant-tree-select"] [class*=" ant-tree-select"], :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class*=" ant-tree-select"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-tree-select"] [class^="ant-tree-select"]::before, :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class^="ant-tree-select"]::before, :where(.css-1q3a9c7)[class^="ant-tree-select"] [class*=" ant-tree-select"]::before, :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class*=" ant-tree-select"]::before, :where(.css-1q3a9c7)[class^="ant-tree-select"] [class^="ant-tree-select"]::after, :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class^="ant-tree-select"]::after, :where(.css-1q3a9c7)[class^="ant-tree-select"] [class*=" ant-tree-select"]::after, :where(.css-1q3a9c7)[class*=" ant-tree-select"] [class*=" ant-tree-select"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-tree-select-dropdown { padding: 8px 4px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; --rc-virtual-list-scrollbar-bg: rgba(105,105,2,0.08); background: rgb(31, 31, 31); border-radius: 16px; transition: background-color 0.3s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree.ant-select-tree-rtl .ant-select-tree-switcher_close .ant-select-tree-switcher-icon svg { transform: rotate(90deg); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-focused:not(:hover):not(.ant-select-tree-active-focused) { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-list-holder-inner { align-items: flex-start; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree.ant-select-tree-block-node .ant-select-tree-list-holder-inner { align-items: stretch; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree.ant-select-tree-block-node .ant-select-tree-list-holder-inner .ant-select-tree-node-content-wrapper { flex: 1 1 auto; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree.ant-select-tree-block-node .ant-select-tree-list-holder-inner .ant-select-tree-treenode.dragging::after { position: absolute; inset: 0px; border: 1px solid rgb(68, 140, 192); opacity: 0; animation-name: css-1q3a9c7-ant-tree-node-fx-do-not-use; animation-duration: 0.3s; animation-play-state: running; animation-fill-mode: forwards; content: ""; pointer-events: none; border-radius: 16px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode { display: flex; align-items: flex-start; margin-bottom: 4px; line-height: 24px; position: relative; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode::before { content: ""; position: absolute; z-index: 1; inset-inline-start: 0px; width: 100%; top: 100%; height: 4px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-disabled .ant-select-tree-node-content-wrapper { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-disabled .ant-select-tree-node-content-wrapper:hover { background: transparent; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode .ant-select-tree-checkbox-disabled + .ant-select-tree-node-selected, :where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode.ant-select-tree-treenode-disabled.ant-select-tree-treenode-selected .ant-select-tree-node-content-wrapper { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode .ant-select-tree-checkbox-disabled { pointer-events: unset; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode:not(.ant-select-tree-treenode-disabled) .ant-select-tree-node-content-wrapper:hover { color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-active .ant-select-tree-node-content-wrapper { background: rgba(255, 255, 255, 0.08); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode:not(.ant-select-tree-treenode-disabled).filter-node .ant-select-tree-title { color: rgb(68, 140, 192); font-weight: 600; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-draggable { cursor: grab; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-draggable .ant-select-tree-draggable-icon { flex-shrink: 0; width: 24px; text-align: center; visibility: visible; color: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-draggable.ant-select-tree-treenode-disabled .ant-select-tree-draggable-icon { visibility: hidden; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-indent { align-self: stretch; white-space: nowrap; user-select: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-indent-unit { display: inline-block; width: 24px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-draggable-icon { visibility: hidden; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher, :where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox { margin-inline-end: 4px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher { position: relative; flex: 0 0 auto; align-self: stretch; width: 24px; text-align: center; cursor: pointer; user-select: none; transition: 0.3s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher .ant-select-tree-switcher-icon { display: inline-block; font-size: 10px; vertical-align: baseline; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher .ant-select-tree-switcher-icon svg { transition: transform 0.3s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher-noop { cursor: unset; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher::before { pointer-events: none; content: ""; width: 24px; height: 24px; position: absolute; left: 0px; top: 0px; border-radius: 16px; transition: 0.3s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher:not(.ant-select-tree-switcher-noop):hover::before { background-color: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher_close .ant-select-tree-switcher-icon svg { transform: rotate(-90deg); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher-loading-icon { color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher-leaf-line { position: relative; z-index: 1; display: inline-block; width: 100%; height: 100%; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher-leaf-line::before { position: absolute; top: 0px; inset-inline-end: 12px; bottom: -4px; margin-inline-start: -1px; border-inline-end: 1px solid rgb(66, 66, 66); content: ""; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher-leaf-line::after { position: absolute; width: 9.6px; height: 12px; border-bottom: 1px solid rgb(66, 66, 66); content: ""; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper { position: relative; min-height: 24px; padding-block: 0px; padding-inline: 8px; background: transparent; border-radius: 16px; cursor: pointer; transition: 0.2s, border, line-height, box-shadow; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper .ant-select-tree-drop-indicator { position: absolute; z-index: 1; height: 2px; background-color: rgb(68, 140, 192); border-radius: 1px; pointer-events: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper .ant-select-tree-drop-indicator::after { position: absolute; top: -3px; inset-inline-start: -6px; width: 8px; height: 8px; background-color: transparent; border: 2px solid rgb(68, 140, 192); border-radius: 50%; content: ""; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper:hover { background-color: rgba(255, 255, 255, 0.08); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected { color: rgb(255, 255, 255); background-color: rgb(37, 62, 81); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper .ant-select-tree-iconEle { display: inline-block; width: 24px; height: 24px; text-align: center; vertical-align: top; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper .ant-select-tree-iconEle:empty { display: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-unselectable .ant-select-tree-node-content-wrapper:hover { background-color: transparent; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode.drop-container > [draggable] { box-shadow: rgb(68, 140, 192) 0px 0px 0px 2px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-show-line .ant-select-tree-indent-unit { position: relative; height: 100%; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-show-line .ant-select-tree-indent-unit::before { position: absolute; top: 0px; inset-inline-end: 12px; bottom: -4px; border-inline-end: 1px solid rgb(66, 66, 66); content: ""; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-show-line .ant-select-tree-indent-unit-end::before { display: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-show-line .ant-select-tree-switcher { background: transparent; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-show-line .ant-select-tree-switcher-line-icon { vertical-align: -0.15em; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode-leaf-last .ant-select-tree-switcher-leaf-line::before { top: auto !important; bottom: auto !important; height: 12px !important; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree { border-radius: 0px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-list-holder-inner { align-items: stretch; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-list-holder-inner .ant-select-tree-treenode .ant-select-tree-node-content-wrapper { flex: 1 1 auto; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-group { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; display: inline-flex; flex-wrap: wrap; column-gap: 8px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-group > .ant-row { flex: 1 1 0%; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; display: inline-flex; align-items: baseline; cursor: pointer; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper::after { display: inline-block; width: 0px; overflow: hidden; content: " "; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper + .ant-select-tree-checkbox-wrapper { margin-inline-start: 0px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper.ant-select-tree-checkbox-wrapper-in-form-item input[type="checkbox"] { width: 14px; height: 14px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: relative; white-space: nowrap; cursor: pointer; border-radius: 8px; align-self: center; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-input { position: absolute; inset: 0px; z-index: 1; cursor: pointer; opacity: 0; margin: 0px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-input:focus-visible + .ant-select-tree-checkbox-inner { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-inner { box-sizing: border-box; display: block; width: 16px; height: 16px; direction: ltr; background-color: rgb(43, 43, 52); border: 1px solid rgb(66, 66, 66); border-radius: 8px; border-collapse: separate; transition: 0.3s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-inner::after { box-sizing: border-box; position: absolute; top: 50%; inset-inline-start: 25%; display: table; width: 5.71429px; height: 9.14286px; border-width: 0px 2px 2px; border-style: none solid solid; border-color: currentcolor rgb(255, 255, 255) rgb(255, 255, 255); border-image: initial; border-inline-start: 0px; transform: rotate(45deg) scale(0) translate(-50%, -50%); opacity: 0; content: ""; transition: 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox + span { padding-inline: 8px; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper:not(.ant-select-tree-checkbox-wrapper-disabled):hover .ant-select-tree-checkbox-inner, :where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox:not(.ant-select-tree-checkbox-disabled):hover .ant-select-tree-checkbox-inner { border-color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper:not(.ant-select-tree-checkbox-wrapper-disabled):hover .ant-select-tree-checkbox-checked:not(.ant-select-tree-checkbox-disabled) .ant-select-tree-checkbox-inner { background-color: rgb(107, 173, 214); border-color: transparent; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper:not(.ant-select-tree-checkbox-wrapper-disabled):hover .ant-select-tree-checkbox-checked:not(.ant-select-tree-checkbox-disabled)::after { border-color: rgb(107, 173, 214); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner { background-color: rgb(68, 140, 192); border-color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner::after { opacity: 1; transform: rotate(45deg) scale(1) translate(-50%, -50%); transition: 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper-checked:not(.ant-select-tree-checkbox-wrapper-disabled):hover .ant-select-tree-checkbox-inner, :where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-checked:not(.ant-select-tree-checkbox-disabled):hover .ant-select-tree-checkbox-inner { background-color: rgb(107, 173, 214); border-color: transparent; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner { background-color: rgb(43, 43, 52); border-color: rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner::after { top: 50%; inset-inline-start: 50%; width: 8px; height: 8px; background-color: rgb(68, 140, 192); border: 0px; transform: translate(-50%, -50%) scale(1); opacity: 1; content: ""; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-indeterminate:hover .ant-select-tree-checkbox-inner { background-color: rgb(43, 43, 52); border-color: rgb(68, 140, 192); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-wrapper-disabled { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled, :where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled .ant-select-tree-checkbox-input { cursor: not-allowed; pointer-events: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled .ant-select-tree-checkbox-inner { background: rgb(51, 51, 61); border-color: rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled .ant-select-tree-checkbox-inner::after { border-color: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled::after { display: none; }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled + span { color: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-tree-select-dropdown .ant-select-tree-checkbox-disabled.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner::after { background: rgba(255, 255, 255, 0.25); }

:where(.css-1q3a9c7).ant-tree-select-dropdown-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-tree-select-dropdown-rtl .ant-select-tree-switcher.ant-select-tree-switcher_close .ant-select-tree-switcher-icon svg { transform: rotate(90deg); }